.body {
    display: flex;
    flex-direction: column;
}

.steps {
    margin: auto;
    display: flex;
    flex: 1;
    width: 50%;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.steps_child_title {
    font-size: 24px;
    margin-bottom: 25px;
    color: #BDBDBD;
    font-weight: 700;
}

.active {
    color: #F2994A;
}

.steps_child_line_active {
    height: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: -4px;
    background-color: #F2994A;
}

.span {
    color: red;
}

.form {
    margin: auto;
    flex: 1;
    width: 50%;
}

.form_child {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.form_child label {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 22px;
}

.form_child p {
    color: #817E9E;
    margin-bottom: 22px;
    font-weight: 400;
}

.form_child input {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
}
.form_child select{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
}
.form_child2 .form_child input{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
}
.form_child2{
    display: flex;
    flex: 1;
    max-width: 100%;
    justify-content: space-between;
    width: 100%;
}
.form_child2 .form_child{
    width: 100%;
    margin-right: 20px;
}
.expiryDate{
    width: 60%;
}
.cvv{
    width: 50%;
}
@media only screen and (max-width: 912px) {
    .steps {
        width: 70%;
    }
    .form {
        width: 70%;
    }
    .form_child2 .form_child {
        margin-right: 10px;
    }
    
    .form_child2 .form_child input {
        width: 100%;
    }
    .form_child2 .form_child select {
        width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .steps {
        width: 100%;
    }
    .form_child label{
        font-size: 15px;
    }
    .steps_child_title {
        font-size: 14px;
        margin-bottom: 25px;
        color: #BDBDBD;
        font-weight: 700;
    }
    .form {
        width: 100%;
        padding: 10px;
    }
    .form_child2{
       flex-direction: column;
    }
    .form_child2 .form_child {
        margin-right: 10px;
    }

    .form_child input{
        padding: 10px;
    }
    .form_child select{
        padding: 10px;
    }
    .form_child2 .form_child input {
        width: 100%;
        padding: 10px;
    }
    .form_child2 .form_child select {
        width: 100%;
        padding: 10px;
    }
}